@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  background: #0f171e;
}

nav {
  display: flex;
}

nav ul {
  width: 100%;

  justify-content: space-between;
}

#list {
  display: flex;
}

#searchbar {
  display: flex;
}
h1 {
  color: #f3f3f3;
}
h3 {
  font-size: 19px;
  display: inline-block;
}

img:hover {
  box-shadow: 0 0 2px 1px white;
}

footer {
  font-size: 12px;
}

footer a {
  color: #757575;
}

footer a:hover {
  color: #f3f3f3;
  text-decoration: none;
}

i a {
}
